// Hover
.hover {
  &-scale {
    .hover-area {
      transition: all .4s ease;
    }
    &:hover {
      .hover-area {
        transition: all .3s ease;
        transform: scale(1.02, 1.02);
      }
    }
  }
}
