/**
 * Map
 */

.map {
  width: 100%;
  height: rem(400);
  display: block;

  .map-card {
    .map-caption {
      padding: rem(15px);
    }
    .map-title {
      font-color: $color29;
      font-size: rem(16px);
      font-weight: 700;
      display: block;
      margin-bottom: rem(10px);
    }
    .map-address {
      font-weight: 700;
      color: $color18;
      display: block;
    }
  }
}
