// Section
.section {
  .title {
    font-size: rem(36);
    font-family: $likelySansFill;
  }

  &.-course {
    padding-top: rem(80);
    padding-bottom: rem(80);
  }

  &.-contact {
    .section-heading {
      text-align: center;
      padding-top: rem(80);
      padding-bottom: rem(80);
      background-color: $color30;
      .title {
        font-size: rem(52);
        color: $color40;
      }
    }
  }

  &.-conversion {
    padding-top: rem(80);
    padding-bottom: rem(80);
    background-color: $color30;
    .section-heading {
      margin-bottom: rem(40);
      .title {
        color: $color40;
      }
    }
  }
}
