// Section
.section {

    &.-is-intro {
        overflow: hidden;

        .heading {
            padding: rem(25 0);

            .title {
                font-size: rem(25);
                font-weight: 700;
            }
        }
    }

}
