// Title
.title {
  position: relative;
  &.-with {
    &-border {
      &-dots {
        &:after {
          content: '';
          width: 100%;
          height: rem(12);
          display: block;
          background-image: url('../images/border-dots.svg');
        }
      }
    }
  }
}
