// Colors
$color10:   #ffffff;
$color11:   #f2f2f2;
$color15:   #efefef;
$color18:   #5e5e5e;
$color19:   #000000;
$color20:   #41c4e2;
$color29:   #00115b;
$color30:   #fed102;
$color40:   #cc295e;

// Status Colors
$success:   #8bc34a;
$danger:    #f44336;
$warning:   #ffc107;
$info:      #03a9f4;

// Social Colors
$facebook:  #39579b;
$twitter:   #588dc9;
$instagram: #8a3ab9;
$youtube:   #bb0000;
$google:    #dd4b39;
$linkedin:  #0079b8;
$whatsapp:  #4dc247;
