// Fonts
$fontastic: 'bootstrap-boilerplate';
$likely: 'likely';
$likelySansFill: 'likely-sans-fill';

/* Fontastic */
@include font-face(
  $fontastic,
  "../fonts/fontastic/#{$fontastic}",
  normal,
  normal,
  eot woff ttf svg
);

/* Fontastic */
@include font-face(
  $likely,
  "../fonts/likely/Likely-Regular",
  normal,
  normal,
  woff woff2
);

/* Fontastic */
@include font-face(
  $likelySansFill,
  "../fonts/likely/LikelySansFill-Regular",
  normal,
  normal,
  woff woff2
);
